@media screen and (min-width: 800px){
    body {background-color: rgb(182, 0, 182);
    }
}
    




.p1 { text-align: center;
    font-size: 200%;
    color: rgb(255, 0, 136);
    border-color: rgb(0, 255, 128);
    border-width: 6px;
    border-style: outset;
    margin-left: 20%;
    margin-right: 20%;
    background-color: rgb(0, 0, 0);
    margin-bottom: 10%;
    }

.p2{font-size: 200%;
    color: rgb(255, 0, 0);
    border-color: rgb(38, 0, 255);
    border-width: 6px;
    border-style: outset;
    margin-left: 20%;
    margin-right: 60%;
    background-color: rgb(0, 120, 156);
}
.p3{font-size: 200%;
    color: rgb(0, 132, 255);
    border-color: rgb(255, 0, 0);
    border-width: 6px;
    border-style: outset;
    margin-left: 60%;
    margin-right: 20%;
    background-color: rgb(255, 238, 0);
    margin-top: 5%;
}
.p4{font-size: 200%;
    color: rgb(0, 26, 255);
    border-color: rgb(255, 196, 0);
    border-width: 6px;
    border-style: outset;
    margin-left: 20%;
    margin-right: 60%;
    background-color: brown;
    margin-top: 5%;
}
.p5{font-size: 200%;
    color: rgb(0, 255, 200);
    border-color: rgb(195, 0, 255);
    border-width: 6px;
    border-style: outset;
    margin-left: 60%;
    margin-right: 20%;
    background-color: rgb(54, 42, 165);
    margin-top: 5%;
}
.p6{font-size: 200%;
    color: rgb(0, 225, 255);
    border-color: rgb(184, 197, 2);
    border-width: 6px;
    border-style: outset;
    margin-left: 20%;
    margin-right: 60%;
    background-color: rgb(8, 110, 13);
    margin-top: 5%;
}
.p7{font-size: 200%;
    color: rgb(255, 166, 0);
    border-color: rgb(95, 0, 0);
    border-width: 6px;
    border-style: outset;
    margin-left: 60%;
    margin-right: 20%;
    background-color: rgb(104, 97, 0);
    margin-top: 5%;
}
.p8{font-size: 200%;
    color: rgb(43, 255, 0);
    border-color: rgb(135, 165, 0);
    border-width: 6px;
    border-style: outset;
    margin-left: 20%;
    margin-right: 60%;
    background-color: rgb(0, 110, 124);
    margin-top: 5%;
}
.p9{font-size: 200%;
    color: rgb(150, 97, 0);
    border-color: rgb(234, 0, 255);
    border-width: 6px;
    border-style: outset;
    margin-left: 60%;
    margin-right: 20%;
    background-color: rgb(219, 69, 0);
    margin-top: 5%;
}